body{
    width: 230px;
    text-align: center;
    background-color: rgb(228, 237, 220);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.settings-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#settings-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: contents
}

#settings-btn img {
width: 18px;
height: 18px;
}
  
#b{
    border: black solid 2px;
    border-radius: 10px;
    padding: 8px;
    width: 150px;
}
#b:hover {
    background-color: rgb(248, 241, 234);
}
p{
    margin-bottom: 5px;
}